@-webkit-keyframes tryme {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(4px);
  }
}
@keyframes tryme {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}

