@font-face {
    font-family: "Calibre - Light";
    src: url('assets/Calibre-Light.otf');
}

@font-face {
    font-family: "Calibre - Regular";
    src: url('assets/Calibre-Regular.otf');
}

@font-face {
    font-family: "Calibre - Semibold";
    src: url('assets/Calibre-Semibold.otf');
}