.container__outer--hero
    position relative
    .absolute-background--hero
        background-image url('assets/bg.png')
        min-width 100vw
        min-height 850px
        
    .clouds
        background-image url('assets/clouds.png')
        min-width 1746px
        width 100vw
        height 526px
        z-index 20
        
        background-size 100% 100%
        background-repeat repeat
        
        bottom -263px
        
        pointer-events none

.container__inner--hero
    flex-flow column wrap
    justify-content flex-start
    align-items flex-start
    min-height 850px
    position relative
    
    h1
        text-shadow 0 6px 40px rgba(0, 0, 0, 0.57)
        color #ffffff
        font-family Roboto
        font-size 70px
        font-weight 700
        margin 60px 0 75px
        
    .twistus
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url('assets/twistus.png')
        width 572px
        height 741px
        position absolute
        right -75px
        bottom -60px
        
        
.glasses
    flex-flow row wrap
    justify-content center
    aling-items center
    
    &__item
        display flex
        flex-flow column wrap
        justify-content center
        align-items center
        margin 0 50px
        
    &__img
        background-size cover
        background-position center
        background-repeat no-repeat
        
        width 146px
        height 198px
        
        &#wine
            background-image url('assets/wine.png')
            
        &#water
            background-image url('assets/water.png')
            
        &#beer
            background-image url('assets/milk.png')
            
        
    &__text
        text-shadow 0 6px 40px rgba(0, 0, 0, 0.57)
        color #ffffff
        font-family Roboto
        font-size 27px
        font-weight 700