.container__outer--hero
    position relative
    .absolute-background--hero
        background-image url('assets/bg.png')
        min-width 100vw
        min-height 920px
        
        @media screen and (min-width 2500px)
            background-position-x 100%
            background-repeat-x no-repeat
        
        @media screen and (max-width $screen-xs)
            min-height 850px
        
    .clouds
        background-image url('assets/clouds.png')
        min-width 1746px
        width 100vw
        height 526px
        z-index 20
        
        background-size 100% 100%
        background-repeat repeat
        
        bottom -263px
        
        pointer-events none

.container__inner--hero
    flex-flow column wrap
    justify-content flex-start
    align-items flex-start
    min-height 920px
    position relative
    
    @media screen and (max-width $screen-lg)
        align-items center
        
    @media screen and (max-width $screen-xs)
        min-height 850px
    
    h1
        text-shadow 0 6px 40px rgba(0, 0, 0, 0.57)
        color #ffffff
        font-family "Roboto", "Helvetica", sans-serif
        font-size 50px
        line-height 72px
        font-weight 700
        margin 60px 0 75px
        
        @media screen and (max-width $screen-pc)
            font-size 40px
            max-width 900px
            margin 50px 0 35px
            line-height 56px
        
        @media screen and (max-width $screen-lg)
            width 100%
            text-align center
            font-size 30px
            line-height 50px
            
        @media screen and (max-width $screen-tn)
            font-size 26px
            margin-top 30px
            

    .twistus
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url('assets/twistus.png')
        width 800px
        height 1000px
        position absolute
        right -225px
        bottom -260px
        
        @media screen and (max-width $screen-lg)
            display none
        
    
.relatives-top
    position relative
    top 121px

    @media screen and (max-width $screen-md)
        bottom 13.65vw   


.relatives
    position relative
    bottom 121px
    
    @media screen and (max-width $screen-md)
        bottom 13.65vw

.glasses
    flex-flow row wrap
    justify-content center
    aling-items center
    
    &__item
        display flex
        flex-flow column wrap
        justify-content center
        align-items center
        margin 0 25px
        max-height 290px
        
        @media screen and (max-width $screen-pc)
            margin 0 15px
            
        .coin
            background-size contain
            background-position center
            background-repeat no-repeat
            width 94px
            background-image url('assets/token.png')
            
                
            &#wine
                height 214px          
                
            &#water
                height 222px
                
            &#beer
                height 242px
            
            @media screen and (max-width $screen-md)
                height 27.3vw !important
        
    &__img
        background-size cover
        background-position center
        background-repeat no-repeat
        cursor pointer
            
        &.beer#wine, &.beer#beer, &.beer#water
            background-image url('assets/beer.png')
            width 222px
            height 242px
            
        &.wine#wine, &.wine#beer, &.wine#water
            background-image url('assets/wine.png')
            width 165px
            height 214px
            
        &.champagne#wine, &.champagne#beer, &.champagne#water
            background-image url('assets/champagne@2x.png')
            width 150px
            height 214px
        
        &.shaking
            animation tryme 7s ease-out infinite
        
        &#wine
            background-image url('assets/green.svg')
            width 162px
            height 222px
            
            @media screen and (max-width $screen-md)
                width 14vw
                height 22.3vw
            
        &#water
            background-image url('assets/yellow.svg')
            width 162px
            height 222px
            
            &.shaking
                animation-delay .2s
            
            @media screen and (max-width $screen-md)
                width 14vw
                height 22.3vw
            
        &#beer
            background-image url('assets/blue.svg')
            width 162px
            height 222px
            
            &.shaking
                animation-delay .4s
            
            @media screen and (max-width $screen-md)
                width 14vw
                height 22.3vw
            
        
    &__text
        text-shadow 0 6px 40px rgba(0, 0, 0, 0.57)
        color #ffffff
        font-family "Roboto", "Helvetica", sans-serif
        font-size 27px
        font-weight 700
        
@media screen and (max-width $screen-xs)
    div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.coin
        background-size contain !important
        
    div.container__inner--hero div.container.glasses div.glasses__item span.glasses__text
        font-size 16px
        

@media screen and (max-width $screen-md)
    div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.beer#wine,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.beer#water,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.beer#beer,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.wine#beer,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.wine#wine,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.wine#water,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.champagne#water,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.champagne#beer,div.container__inner--hero div.container.glasses div.glasses__item div.glasses__img.champagne#wine
        width 14vw
        height 22.3vw