.container--inner__why
    background-color white
    
    .why
        flex-flow row wrap
        justify-content center
        align-items center
        
        &__item
            max-width 375px
            display flex
            flex-flow column wrap
            justify-content center
            align-items center
            
            .img
                background-size cover
                background-position center
                background-repeat no-repeat
                
            h3
                color #4e0f89
                font-family "Calibre - Semibold"
                font-size 28px
                font-weight 400
                line-height 75.92px
                text-align center
                width 100%
                max-width 90%
                
            p
                color #141117
                font-family Calibre
                font-size 20px
                font-weight 400
                line-height 27.97px
                text-align center
                width 100%
                max-width 90%
                